/.metadata/
/.recommenders/
/BaiTap01/Bai06/nbproject/private/
/ViDu27/nbproject/private/
/BaiTapBasic/BTB12/nbproject/private/
/BaiTap01/Bai03/nbproject/private/
/NhapXuatMang/nbproject/private/
/BaiTapBasic/BTB06/nbproject/private/
/BaiTapBasic/BTB11/nbproject/private/
/BaiTap01/Bai07/nbproject/private/
/BaiTap01/Bai01/nbproject/private/
/ClassDemo/nbproject/private/
/ParameterDemo/nbproject/private/
/BaiTap01/Bai04/nbproject/private/
/ChenPTVaoMang/nbproject/private/
/BaiTapBasic/BTB09/nbproject/private/
/BaiTapBasic/BTB05/nbproject/private/
/ArrayDemo/nbproject/private/
/BaiTap01/Bai05/nbproject/private/
/XinChao/nbproject/private/
/ViDu25N/nbproject/private/
/DemKhoangTrangTrongChuoi/nbproject/private/
/BaiTap01/Bai11/nbproject/private/
/BaiTap01/Bai02/nbproject/private/
/BaiTap01/Bai08/nbproject/private/
/BaiTap01/Bai10/nbproject/private/
/TinhTienHang/nbproject/private/
/BaiTapBasic/BTB13/nbproject/private/
/BaiTapBasic/BTB08/nbproject/private/
/BaiTap01/Bai09/nbproject/private/
/BaiTapBasic/BTB10/nbproject/private/
/ViDu26/nbproject/private/
/BaiTapBasic/BTB07/nbproject/private/
/BaiTapBasic/BTB14/nbproject/private/
/AstractClassDemo/nbproject/private/
/Chuong03/AbstractClassDemo/nbproject/private/
/Chuong03/AbstractClassDemo/build/
/Chuong03/NVDemo/nbproject/private/
/Chuong03/ClassDemo/nbproject/private/
/Chuong03/ArrayDemo/build/
/Chuong03/ArrayDemo/nbproject/private/
/Chuong03/HocBong/build/
/Chuong03/HocBong/nbproject/private/
/Chuong03/MenuDemo/build/
/Chuong03/MenuDemo/nbproject/private/
/Chuong03/NhanVienDemo/build/
/Chuong03/NhanVienDemo/nbproject/private/
/Chuong03/PolymorphymDemo/nbproject/private/
/Chuong03/PrimeNumber/build/
/Chuong03/PrimeNumber/nbproject/private/
/Chuong03/SentinelDemo/build/
/Chuong03/SentinelDemo/nbproject/private/
/Chuong03/TienDien/build/
/Chuong03/TienDien/nbproject/private/
/BaiTap01/Bai12/nbproject/private/
/BaiTap01/Bai12/build/